AllSubs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AllSubsAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:anyURI" name="link"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="language"/>
        <xs:element type="xs:byte" name="results"/>
        <xs:element type="xs:byte" name="found_results"/>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:anyURI" name="link"/>
                    <xs:element type="xs:string" name="filename"/>
                    <xs:element type="xs:string" name="files_in_archive"/>
                    <xs:element type="xs:string" name="languages"/>
                    <xs:element type="xs:date" name="added_on"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
