subs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="subtitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sub" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:time" name="fromTime"/>
              <xs:element type="xs:time" name="toTime"/>
              <xs:element name="lines">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="line" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
